language: node_js
node_js:
  - node
  - lts/*
jobs:
  include:
    # Define the release stage that runs semantic-release
    - stage: release
      if: branch = master
      # Advanced: optionally overwrite your default `script` step to skip the tests
      # It may not needed if `npm run build` and `npm test` run in preversion step
      # script: skip
      deploy:
        provider: script
        skip_cleanup: true
        script: npm run test:badges && npm run semantic-release
