import React from 'react'

const {{properCase componentName}} = () => {
  return(
    <>
      <p>Boilerplate {{componentName}} component</p>
    </>
  )
}

export default {{properCase componentName}}
